*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: radial-gradient(#222,#444);
  .card{
    position: relative;
    width: 200px;
    height: 200px;
    .rating{
      position: relative;
      width: 100%;
      height: 100%;
      // background-color: #ef0808;
      h2{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: white ;
        text-align: center;
      }
      .block{
        position: absolute;
        left: 50%;
        width: 2px;
        height: 15px;
        background: #736f6f;
        transform: rotate(7.2deg);
        transform-origin: (center 100px);
        opacity: 0;
        animation: animate 0.1s linear forwards;
        @keyframes animate {
          to{
            opacity: 1;
          }
        }
      &:nth-child(-n+46){
          background: hotpink;
          box-shadow: 0 0 15px hotpink, 0 0 30px hotpink;
        }
      }
    }
  }
}